input {
    display: block;
    border-radius: 100px;
    font-size: larger;
    padding: 12px;
    border: 1px solid #020202CC;
}

input:focus {
    outline: 1.2px solid #65DCC7CC;
}

label {
    font-weight:500;
}


.buttonSave {
    border-radius: 100px;
    background-color: #65DCC7CC;
    outline: transparent;
    font-size: large;
    border: none;
    margin-top: 20px;
    padding: 12px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-top: 20px;
}

.inputPrice {
    display: block;
    border-radius: 100px;
    font-size: larger;
    padding: 12px;
    border: 1px solid #020202CC;
}

input[type="color"] {
    -webkit-appearance: none;
     width: 30px;
     height: 30px;
     border: 0;
     border-radius: 50%;
     padding: 0;
     overflow: hidden;
     box-shadow: 2px 2px 5px rgba(0,0,0,.1);
 }
 input[type="color"]::-webkit-color-swatch-wrapper {
     padding: 0;
 }
 input[type="color"]::-webkit-color-swatch {
     border: none;
 }